/*
  background: rgb(34,142,195);
  background: linear-gradient(0deg, rgba(34,142,195,1) 0%, rgba(253,197,45,1) 100%);

  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(104,104,104,1) 100%);

  background: rgb(158,158,158);
  background: linear-gradient(0deg, rgba(158,158,158,1) 0%, rgba(173,173,173,1) 100%);

*/